* {
  margin: 0;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #dd7373;
}

li {
  list-style: none;
  color: #51a3a3;
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

li:hover {
  cursor: pointer;
}
/*
ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}*/

.li-1 {
  background-color: #3b3561;
  position: relative;
}
.li-2 {
  background-color: #ead94c;
  position: relative;
}
.li-3 {
  background-color: #d1d1d1;
  position: relative;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 25%;
  height: 50%;
}

.context-menu {
  background: black;
  position: absolute;
  right: 10%;
}
.context-menu > p {
  padding: 5px;
  border: 2px solid white;
}
